header .upper,
header .lower {
	padding: 0 30px;
}

header .upper .contacts {
	display: inline-block;
	width: 49%;
}

header .upper {
	border-bottom: 1px solid #e7e7e7;
}

header .upper .social {
	display: inline-block;
	text-align: right;
	width: 50%;
}

header .upper .contacts {
	color: #747474;
	font-size: 18px;
	padding: 16px 0;
}

header .lower {
	height: 100px;
}

header .lower img {
	padding: 5px;
	width: 12%;
}

header nav {
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 87%;
	height: 90px;
}

header nav .main-menu,
header nav .main-menu .main-menu-item {
	margin: 0;
	padding: 0;
	height: 90px;
}

header nav .main-menu .main-menu-item {
	display: inline-block;
	/* vertical-align: middle; */
	position: relative;
}

header nav .main-menu .main-menu-item a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
	font-size: 18px;
	display: block;
	padding: 45px 2px 30px 2px;
}

header nav .main-menu .main-menu-item:hover .main-menu-link {
	border-top: 3px solid #333;
	padding: 42px 2px 30px 2px;
}

header nav .main-menu .main-menu-item:hover i[class="icofont-heart"] {
	color: #11e88d;
}

header nav .main-menu .main-menu-item:hover .sub-menu {
	display: block;
	border-top: 3px solid #333;
	top: 97px;
}

header nav .main-menu .main-menu-item .sub-menu {
	display: none;
	position: absolute;
	list-style: none;
	width: 200px;
	top: 100px;
	left: 0;
	text-align: left;
}

header nav .main-menu .main-menu-item .sub-menu li {
	width: 200px;
	min-height: 50px;
}

header nav .main-menu .main-menu-item .sub-menu a {
	background: white;
	color: #747474;
	text-decoration: none;
	width: 200px;
	min-height: 50px;
	font-size: 24px;
	font-weight: 400;
	padding: 10px 30px;
	margin: 0;
	border-bottom: 1px solid #e7e7e7;
}

body {
	font-family: 'PT Sans', sans-serif;
}

.icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 7px;
	margin: 5px;
}

.facebook {
	background: #3b5998;
}

.insta {
	background: #4c5fd7;
}

.youtube {
	background: #ff0000;
}

.linkedin {
	background: #007bb5;
}

.btn {
	background: #11e88d;
	height: 54px;
	border-radius: 20px;
	display: inline-block;
	text-align: center;
}

.btn a {
	text-decoration: none;
	border-radius: 20px;
	width: 200px;
	display: block;
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 18px 0;
}

.ribbon {
	background: #11e88d;
	color: white;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	height: 150px;
}

.ribbon p {
	display: inline-block;
	margin: 56px 0;
}
