.hero {
	height: 695px;
	background: url("../img/hero.png") center/cover;
	text-align: center;
}

.hero .content {
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	width: 50%;
	display: inline-block;
	margin-top: 250px;
}

.hero .btn {
	display: block;
	width: 350px;
	margin: 40px auto;
}

.hero .btn a {
	width: 350px;
	text-transform: uppercase;
}

.green-text {
	color: #11e88d;
}

.pillars {
	background: url("../img/course_bg.png") center/cover;
	height: 520px;
	padding: 150px;
	font-size: 18px;
	line-height: 1.5;
}

.pillar {
	width: 400px;
	display: inline-block;
	vertical-align: top;
	color: black;
	margin: 0 5px;
}

.pillar .title {
	display: block;
	color: navy;
	text-transform: uppercase;
	font-size: 35px;
	font-weight: bold;
}

.pillar .title:hover {
	color: #11e88d;
}

.javastarter {
	height: 700px;
	background: white;
	text-align: center;
}

.javastarter div.cliped-bg {
	background: #204778;
	width: 100%;
	height: 100%;
	clip-path: polygon(28% 0, 100% 12%, 100% 100%, 0 100%, 0 12%);
	padding: 150px 0;
	font-weight: bold;
}

.javastarter h1 {
	display: block;
	color: white;
	padding: 30px 0 50px 0;
	font-size: 40px;
}

.image-div,
.course-desc {
	display: inline-block;
}

.javastarter .image-div {
	width: 250px;
	height: 250px;
	background: url("../img/circle.png") no-repeat center;
	background-size: cover;
	margin: 0 50px;
}

.course-desc {
	width: 700px;
	text-align: left;
	vertical-align: top;
}

.course-desc h2 {
	color: #11e88d;
	font-size: 40px;
}

.course-desc p {
	font-size: 20px;
	color: white;
}

.course-desc h2,
.course-desc p {
	margin: 20px 0;
}

.course-desc :nth-last-child(2) {
	color: #11e88d;
}

.course-desc .btn {
	text-transform: uppercase;
}

.start-course .links {
	display: block;
	height: 150px;
	padding: 40px 0;
}

.start-course a {
	text-decoration: none;
}

.links:first-child {
	color: white;
	font-weight: 400;
}

.links :last-child {
	color: yellow;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: bold;
}

.links p {
	display: block;
	width: 50%;
	margin: 0 auto;
}

.story-board {
	text-align: center;
	background: rgba(216, 216, 216, 0.69);
	font-size: 20px;
	font-weight: normal;
	min-height: 800px;
}

.story-board h1 {
	font-size: 40px;
	padding: 80px 0 30px;
}

.container {
	width: 72%;
	margin: auto;
}

.container .more {
	color: #333;
	text-transform: uppercase;
	display: inline-block;
	width: 82%;
	background: #ebeaea;
	height: 40px;
	padding: 5px;
	margin-top: 20px;
}

.card {
	text-align: left;
	background: white;
	display: inline-block;
	width: 25%;
	vertical-align: top;
	height: 500px;
	margin: 20px;
}

.card img {
	width: 100%;
}

.card .pillar {
	padding: 20px;
	width: 100%;
}

.card .pillar .title {
	text-transform: none;
	font-size: 32px;
	margin-bottom: 10px;
}
