<div class="container-multi">
    <div class="fav-list">
        <h1>{{person1.name}}</h1>
        <ul>
            {{#each person1.favs}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="fav-list">
        <h1>{{person2.name}}</h1>
        <ul>
            {{#each person2.favs}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>