<div class="container">
    <div class="fav-list">
        <h1>{{person.name}}</h1>
        <ul>
            {{#each person.favs}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>