<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/vendor/normalize.css" type="text/css">
    <link rel="stylesheet" href="/css/vendor/skeleton.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <title>Send message</title>
</head>

<body>
    {{> header name=name}}
    {{{body}}}
    {{> footer}}
</body>

</html>