<div class="container main-content">
    <form action="/forward" method="POST">
        <label for="text">Message:</label>
        <input type="text" name="content" id="text" class="u-full-width" required>
        <input type="submit" value="Send message">
    </form>
</div>