* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    font-size: 80px;
    margin: 50px auto 0 auto;

}

table, td {
    border: 1px solid black;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
}

h2 {
    margin-top: 20px;
    text-align: center;
}