<h2>Write a message:</h2>

<form action="/compose" method="POST" id="msgForm">

    <label for="messageTo">Addressee:</label>
    <input type="text" name="to" id="messageTo" value="{{#if replyMsg.to}}{{replyMsg.to}}{{/if}}" required>

    <label for="subject">Subject:</label>
    <input type="text" name="subject" id="subject" value="{{#if replyMsg.subject}}RE: {{replyMsg.subject}}{{/if}}">

    <label for="content">Content:</label>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>

    <input type="submit" value="Send message">

</form>

<script>
    const urlReplyParam = location.search.split('=')[1];
    switch(urlReplyParam) {
        case 'success': alert('Your message was sent!');
            break;
        case 'failed': alert("Can't send your message!");
            break;
    }
</script>