<a href="/inbox">Inbox messages</a>
<a href="/sent">Sent messages</a>
<a href="/compose">Write a message</a>

<h2>Messages in your box:</h2>

<table>
    <tr>
        <th>Date</th>
        <th>From</th>
        <th>Subject</th>
    </tr>
    <tr>
        {{#each inboxMsgs}}
        <td>{{date}}</td>
        <td>{{from}}</td>
        <td>{{subject}}</td>
        <td><a href="/view/{{id}}">Read</a></td>
        {{/each}}
    </tr>
</table>