<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Postbox Homework</title>
</head>

<body>
    <a href="/inbox">Inbox messages</a>
    <a href="/sent">Sent messages</a>
    <a href="/compose">Write a message</a>
    {{{body}}}
</body>

</html>