<h2>Messages that you have been sent out:</h2>

<table class="u-full-width">
    <thead>
        <tr>
            <th>Date</th>
            <th>To</th>
            <th>Subject</th>
            <th>Content</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {{#each sentMsgs}}
            <td>{{date}}</td>
            <td>{{to}}</td>
            <td>{{subject}}</td>
            <td>{{content}}</td>
            {{/each}}
        </tr>
    </tbody>
</table>
<a href="/inbox" class="button">Back</a>