<h1>Modify</h1>
<form action="/book/{{bookToModify.id}}/edit" method="POST">
    <div>
        <label for="book_title">Book title</label>
        <input type="text" name="title" id="book_title" value="{{bookToModify.title}}">
    </div>
    <div>
        <label for="book_author">Book author</label>
        <input type="text" name="author" id="book_author" value="{{bookToModify.author}}">
    </div>
    <input type="submit" value="Submit">
</form>